@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;

  color: #fff;

  box-sizing: border-box;

  transition: all 100ms linear;
}

body {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 1px;

  background-color: rgb(44, 44, 44)
}

h1, h2, h3, h4, h5, h6 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

table, th, td {
  border: 1px solid;
}

button {
  border: none;
  font-size: 16px;
}

a {
  padding: 2px 4px;
  margin-right: 2px;

  letter-spacing: 2px;
  text-decoration: none;

  cursor: pointer;
}

a:hover {
  color: rgb(248, 186, 43);
  text-decoration: underline;
  letter-spacing: 1px;
}

a:active {
  letter-spacing: 0;
  transition: all 50ms linear;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

p {
  font-size: 16px;
  line-height: 1.2;
}

.mr-10 {
  margin-right: 10px;
}

.container {
  max-width: 1000px;

  padding: 15px 10px 30px;
  margin: 0 auto;
}

/* Card */
.card {
  margin: 10px 5px;
  padding: 10px;

  /*border: 1px solid #ffffff;*/
  border-radius: 10px;
  box-shadow: 8px 4px 8px #262626;

  background-color: rgba(86, 86, 86, 0.8);
}

/* About section */
.about__main-info {
  display: flex;
  justify-content: space-between;
}

.about__image {
  width: 100%;
  height: 100%;
  max-width: 300px;

  border-radius: 10px;

  object-fit: cover;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
}

.about__hobbies-list {
  display: block;

  margin-inline-start: 20px;
}

.about__experience-table {
  width: 100%;
}

/* Social links*/
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 5px 0;
  padding: 10px 5px;

  background-color: rgb(114, 114, 114);
  border-radius: 10px;
}

.social-links a:not(:last-child) {
  border-right: 1px solid #3a3a3a;
}

/* Form */
.form {
  max-width: 600px;
}
.form__header {
  display: flex;
  align-items: center;
}
.form__header div{
  width: 50%;

  margin: 10px 0;
}
.form__header div:first-child {
  margin-right: 10px;
}
.form__group {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  color: black;
}

.form__group label {
  font-size: 15px;

  width: 100px;
}

.form__group input, textarea {
  width: 100%;

  padding: 6px 3px;

  color: #ffffff;
  font-size: 15px;
  font-family: inherit;

  background-color: unset;
  border: unset;
  border-bottom: 1px solid #fff;
}

.form__group-textarea {
  display: flex;
  align-items: flex-start;
}

.form__group-textarea textarea {
  margin: 0;
  padding-left: 0;

  width: 100%;
  height: 60px;
}

.btn {
  margin: 15px 0 0 0;
  padding: 5px;

  width: 150px;

  font-size: 17px;
  line-height: 1.5;

  cursor: pointer;

  background-color: #a61212;
  border-radius: 5px;
}